.card {
  // color: red;
  margin: 1rem 0;
  box-shadow: $box-shadow;
  border-radius: $border-radius-card;
  border-top: $border-line-soft;
  border-left: $border-line-soft;
  .card-header {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: $border-radius-card;
    border-top-right-radius: $border-radius-card;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: $border-line-soft;
    background-color: $background-color-secondary;
    .card-header-text {
      font-size: 1.25rem;
      font-weight: 500;
      color: $background-color-dark !important;
      display: flex;
      align-items: center;
      gap: 1rem;
      .icon {
        // border: $border-line-soft;
      }
      .icon:hover {
        box-shadow: $box-shadow;
      }
    }
    .card-header-links {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .card-header-link {
        border: $border-line-soft;
        padding: 0.25rem 0.5rem;
        font-size: 0.95rem;
        font-weight: 400;

        border-radius: $border-radius-card;
        // box-shadow: $box-shadow;
        background-color: $background-color-tertiary;
        &:hover {
          background-color: $background-color-tertiary-hover;
        }
        a {
          text-decoration: none;
          color: $button-font-color;
        }
      }
    }
  }
  .card-body {
    padding: 2rem;
    background-color: $background-color-secondary-transparent;
    .paragraph-title {
      // font-size: 1.25rem;
      // font-weight: 900;
      // margin-bottom: 0.5rem;
      font-weight: bold;
    }
    .card-body-section {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: $border-line-soft;
      h3 {
        margin: 0 0 1rem 0;
      }
      .features-list {
        list-style: disc inside;
        padding: 0.5rem 0 0 1rem;
      }
    }
    .tech-icons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      .tech-icon {
        height: 50px;
        padding: 2px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 2.5rem;
        // height: 2.5rem;
        // background-color: $color-secondary;
        // color: $font-color-light;
        // font-size: 1.25rem;
        // font-weight: 900;
        // box-shadow: $box-shadow-card;
        border-radius: $border-radius-card;
      }
      .tech-icon:hover {
        box-shadow: $box-shadow;
      }
    }
  }
}
