main {
  position: relative;
  background-color: cornsilk;
  height: 100%;
  float: left;
  .content {
    padding: 60px 0 80px;
    width: 80%;
    float: right;
    background-color: white;
    article {
      padding: 0 20px;
      margin: 0 0 20px 0;
      .icon {
        width: 50px;
      }
    }
  }
  aside {
    position: sticky;
    top: 0;
  }
  @include allMobile {
    .content {
      width: 100%;
      float: none;
    }
    aside {
      display: none;
    }
  }
}
