main {
  position: relative;
  // background-image: url('/public/images/site/hexagon-body.svg');
  background-size: cover;
  height: 100%;
  float: left;
  .content {
    position: relative;
    padding: 60px 0 80px;
    width: 75%;
    float: right;
    // box-shadow: $box-shadow-card-inverse;
    // background: $color-secondary-transparent;
    // border-top-left-radius: 50px;
    article {
      padding: 0 20px;
      margin: 0 0 1.5rem 0;
      .icon {
        width: 50px;
      }
      h2 {
        // font-size: 1.5rem;
        // font-weight: 900;
        margin: 0 0 1.5rem 0;
      }
    }
  }
  aside {
    position: sticky;
    top: 0;
  }
  @include allMobile {
    .content {
      width: 100%;
      float: none;
    }
    aside {
      display: none;
    }
  }
}
