nav {
  margin: 70px 0 0;
  padding: 0 0 30px 15%;
  li {
    a {
      color: $font-color-secondary-light;
      font-size: 1.15rem;
      line-height: 40px;
      text-decoration: none;
    }
    a.active {
      font-weight: 900;
      color: $font-color-active;
      // text-decoration: underline $font-color-active-light 2px solid;
    }
    ul {
      border-left: $border-line-soft;
      li {
        a {
          margin: 0 0 0 10px;
          color: $font-color-secondary-light;
          // font-weight: 500;
          font-size: 1rem;
          line-height: 25px;
          text-decoration: none;
        }
      }
    }
  }
}
