nav {
  margin: 70px 0 0;
  padding: 0 0 0 20%;
  a {
    color: #5b656f;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 30px;
    text-decoration: none;
  }
  a.active {
    color: rgb(0, 0, 0);
  }
}
