// animations from animate.style
// process with the command `sass src/sass/style.scss src/index.css --watch`

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

// import
@import 'header';
@import 'footer';
