@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .aside-open {
  overflow: hidden;
}

ul {
  list-style: none;
}

header {
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  header {
    min-height: 600px;
  }
}
@media screen and (min-width: 768px) {
  header .content-wrapper {
    max-width: 768px;
    margin: 25px auto 0;
  }
}
@media screen and (min-width: 1200px) {
  header .content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}
header .content {
  text-align: center;
  color: #000000;
  margin: 0 auto;
  max-width: 425px;
  padding: 40px 15px;
}
@media screen and (min-width: 768px) {
  header .content {
    text-align: left;
    max-width: 425px;
    padding: 50px 0;
    margin: 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  header .content {
    text-align: left;
    max-width: 600px;
    padding: 235px 0;
    margin: 0 30px;
  }
}
header .content h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 768px) {
  header .content h2 {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  header .content h2 {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
  }
}
header .content h3 {
  margin: 0.25rem 0;
  font-weight: 200;
  font-style: italic;
}
header .background-image {
  background-image: url("/public/images/site/worldmap.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#hero-border {
  min-height: 10vh;
  padding: 1rem 0;
}
#hero-border .border-content-wrapper {
  display: flex;
  align-items: center;
  color: #000000;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #hero-border .border-content-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  #hero-border .border-content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}
#hero-border .border-content-wrapper .border-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(150px, 300px));
  grid-gap: 1rem;
  max-width: 425px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #hero-border .border-content-wrapper .border-content {
    padding: 50px 0;
    margin: 0 30px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #hero-border .border-content-wrapper .border-content {
    padding: 135px 0;
    margin: 0 30px;
    max-width: 100%;
  }
}
#hero-border .border-content-wrapper .border-content p {
  font-size: 1.15rem;
}
@media screen and (max-width: 991px) {
  #hero-border .border-content-wrapper .border-content p {
    font-size: 1rem;
  }
}

main {
  position: relative;
  background-size: cover;
  height: 100%;
  float: left;
}
main .content {
  position: relative;
  padding: 60px 0 80px;
  width: 75%;
  float: right;
}
main .content article {
  padding: 0 20px;
  margin: 0 0 1.5rem 0;
}
main .content article .icon {
  width: 50px;
}
main .content article h2 {
  margin: 0 0 1.5rem 0;
}
main .content article .skills-list {
  padding: 0.25rem 0;
}
main .content article .skills-list .skill-title {
  font-weight: 600;
}
main .content article .skills-list .skill {
  display: inline-block;
  animation: fadeInRight;
  animation-duration: 2s;
}
main .content article form {
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
  border-radius: 0.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
main .content article form div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  main .content article form {
    max-width: 800px;
  }
}
main .content article form button {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.95rem;
  font-weight: 400;
  color: #000000;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
}
main .content article form button:hover {
  background-color: rgba(192, 200, 208, 0.5);
}
main .content article input,
main .content article textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 16px 0;
  resize: vertical;
}
main aside {
  position: sticky;
  top: 0;
}
@media screen and (max-width: 991px) {
  main .content {
    width: 100%;
    float: none;
  }
  main aside {
    display: none;
  }
}

#projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 2rem 0;
}
#projects .grid .item {
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1px;
  display: grid;
  place-items: center;
}
#projects .grid .item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  grid-area: 1/1/2/2;
}
#projects .grid .item .overlay {
  opacity: 0;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}
#projects .grid .item img {
  width: 100%;
  border-radius: 0.25rem;
  grid-area: 1/1/2/2;
}
#projects .grid .item:hover {
  box-shadow: 2px 2px 2px rgb(255, 170, 0);
}
#projects .grid .item:hover .overlay {
  opacity: 1;
}

#projects-tetris .videos-wrapper {
  width: 100%;
}
#projects-tetris .videos-wrapper .videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(325px, 1fr));
  grid-gap: 5px;
}
#projects-tetris .videos-wrapper .videos .video {
  width: 100%;
  border: 1px solid black;
  height: 250px;
}
@media screen and (min-width: 992px) {
  #projects-tetris .videos-wrapper .videos .video {
    height: 350px;
  }
}
#projects-tetris .videos-wrapper .videos .video iframe {
  width: 100%;
  height: 100%;
}
#projects-tetris .videos-wrapper .videos .video-links {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 252px;
  overflow: auto;
  background-color: rgb(221, 221, 221);
}
@media screen and (min-width: 992px) {
  #projects-tetris .videos-wrapper .videos .video-links {
    height: 350px;
  }
}
#projects-tetris .videos-wrapper .videos .video-links .active {
  background-color: rgb(192, 189, 189);
}
#projects-tetris .videos-wrapper .videos .video-links div {
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#projects-tetris .videos-wrapper .videos .video-links div:hover {
  background-color: rgb(165, 162, 162);
}
#projects-tetris .videos-wrapper .videos .video-links ul li div {
  cursor: pointer;
}

.card {
  margin: 1rem 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
  border-radius: 0.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-header {
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ebeaea;
}
.card .card-header .card-header-text {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card .card-header .card-header-text .icon:hover {
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
}
.card .card-header .card-header-links {
  display: flex;
  align-items: center;
}
.card .card-header .card-header-links .card-header-link {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.95rem;
  font-weight: 400;
  color: #000000;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
}
.card .card-header .card-header-links .card-header-link:hover {
  background-color: rgba(192, 200, 208, 0.5);
}
.card .card-header .card-header-links .card-header-link a {
  text-decoration: none;
  color: #000000;
}
.card .card-body {
  padding: 2rem;
}
.card .card-body .paragraph-title {
  font-weight: bold;
}
.card .card-body .card-body-section {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-body .card-body-section h3 {
  margin: 0 0 1rem 0;
}
.card .card-body .card-body-section .features-list {
  list-style: disc inside;
  padding: 0.5rem 0 0 1rem;
}
.card .card-body .tech-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
.card .card-body .tech-icons .tech-icon {
  height: 50px;
}
.card .card-body .tech-icons .tech-icon:hover {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px rgb(100, 100, 99);
}

aside {
  width: 20%;
  float: left;
}
aside.active {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
aside.fixed {
  position: fixed;
}

.aside-toggle {
  padding: 5px;
  display: none;
  z-index: 12;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
}
.aside-toggle:hover {
  background-color: rgba(192, 200, 208, 0.5);
}
.aside-toggle .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0e2a47;
  transition: 0.2s ease-in-out;
}
.aside-toggle.fixed {
  position: fixed;
}
.aside-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.aside-toggle.active span:nth-child(2) {
  opacity: 0;
}
.aside-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media screen and (max-width: 991px) {
  .aside-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  aside {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgb(192, 200, 208);
    z-index: 10;
  }
}
nav {
  margin: 70px 0 0;
  padding: 0 0 30px 15%;
}
nav li a {
  color: #4c5a68;
  font-size: 1.15rem;
  line-height: 40px;
  text-decoration: none;
}
nav li a.active {
  font-weight: 900;
  color: #8b4a8a;
}
nav li ul {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
nav li ul li a {
  margin: 0 0 0 10px;
  color: #4c5a68;
  font-size: 1rem;
  line-height: 25px;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  border-top: 1px solid black;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  z-index: 12;
}

.footer-center {
  text-align: center;
  display: flex;
  align-items: center;
}

.footer-right {
  position: absolute;
  cursor: pointer;
  right: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer-right:hover {
  transform: rotate(10deg);
}

.footer-hide {
  display: none;
}

.footer-icons {
  display: flex;
  align-items: center;
}
.footer-icons img {
  height: 25px;
  transition: 0.2s ease;
}
.footer-icons img:hover {
  height: 30px;
  transform: rotate(10deg);
}
.footer-icons a {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
